<header class="header" 
        [class.scrolled]="isScrolled" 
        [class.hidden]="!isVisible"
        [class.transparent]="isHomePage && !isScrolled">
    <div class="logo">
      <img routerLink="/home" src="assets/logo/logo-header.png" alt="Retour à l'accueil">
    </div>
    <nav class="nav">
      <a href="#" class="nav-item">ACCUEIL</a>
      <a href="#app-container" (click)="scrollToEvents($event)" class="nav-item">EVENTS</a>
      <a [class.disabled]="!aboutEnabled" class="nav-item">
        A PROPOS
        <span *ngIf="!aboutEnabled" class="tooltip">Bientôt disponible</span>
      </a>
    </nav>
    <div class="header-actions">
        <img  class="icon-account" routerLink="/client-signup" src="assets/icons/account.png" alt="Compte">
        
        <div class="icon-wrapper" [class.disabled]="!wishlistEnabled">
          <img src="assets/icons/wishlist.png" alt="Liste des souhaits">
          <span *ngIf="!wishlistEnabled" class="tooltip">Bientôt disponible</span>
        </div>
        
        <div class="icon-wrapper" [class.disabled]="!ticketEnabled">
          <img src="assets/icons/ticket.png" alt="Billeterie">
          <span *ngIf="!ticketEnabled" class="tooltip">Bientôt disponible</span>
        </div>
    </div>
</header>