<header class="header">
    <div class="logo">
      <img src="assets/logo/logo-header.png" alt="Retour à l'accueil">
    </div>
    <nav class="nav">
      <a href="#" class="nav-item">ACCUEIL</a>
      <a href="#" class="nav-item">EVENTS</a>
      <a href="#" class="nav-item">A PROPOS</a>
    </nav>
    <div class="header-actions">
        <img src="assets/icons/account.png" alt="Compte">
        <img src="assets/icons/wishlist.png" alt="Liste des souhaits">
        <img src="assets/icons/ticket.png" alt="Billeterie">
    </div>
</header>