*, *::after, *::before{
    box-sizing: border-box;
}

main{
    font-family: 'Comfortaa', serif;
    overflow: hidden;
    background-color: white;
    height: 80vh;
    color: white;
}

main::after, main::before{
    content: "404";
    position: absolute;
    font-size: 110px;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 366px;
    font-weight: 600;
    z-index: 50;
}

main::before{
    content: 'Page Not Found';
    font-size: 60px;
    font-weight: 400;
    bottom: 304px;
}

.lamp-head {
  display: block;
  width: 35px;
  height: 140px;
  background: var(--color-font);
  border-bottom: 10px solid var(--color-pink);
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  animation: find 5s linear infinite;
}

.lamp-meta {
  display: block;
  width: 250px;
  height: 200px;
  background: var(--color-yellow);
  border-radius: 50%;
  position: absolute;
  left: -107px;
  bottom: 270px;
}


.lamp-head::after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 25px 25px 0 25px;
    border-color: var(--color-violet) transparent transparent transparent;
    width: 85px;
    left: -25px;
    top: 0;
    box-shadow: 0px -10px 0 var(--color-pink);
}

.lamp-head::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 15px;
    background: var(--color-pink);
    left: 0;
    right: 0;
    margin: auto;
    top: 40px;
    border-radius: 6px;
    box-shadow: 0px 0 1px 2px rgb(68, 68, 68);
}

.lamp-meta::after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 190px 75px 0 75px;
    border-color: rgba(203, 142, 0, 0.3) transparent transparent transparent;
    width: 230px;
    left: 10px;
    top: 100%;
    transform: translateY(-60px);
}

@-webkit-keyframes find{
    25%{
        transform: rotate(25deg);
    }

    0% , 50% , 100%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(-25deg);
    }
}

@keyframes find{
    25%{
        transform: rotate(25deg);
    }

    0% , 50% , 100%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(-25deg);
    }
}