<section>
  <app-carousel></app-carousel>

  <div class="app-container">
    <header class="header">
      <h1 class="title">Prochainement</h1>

      <div class="filters" id="events-container">
        <button
          *ngFor="let filter of filters"
          class="filter-btn"
          [class.active]="filter.active"
          (click)="toggleFilter(filter.id)"
        >
          {{ filter.label }}
        </button>
      </div>
    </header>

    <app-event-card
      [events]="visibleEvents"
      [activeCategoryLabel]="activeCategoryLabel">
    </app-event-card>

    @if(visibleEventsCount < filteredEvents.length){
    <div class="load-more">
      <button class="load-more-btn" (click)="loadMoreEvents()">En voir +</button>
    </div>
    }
  </div>
</section>
