<footer>
    <section class="overlapping-section">
        <div class="container-footer">
            <div class="container-text">
                <a href="#">
                    <img class="logo-footer" src="assets/logo/logo-footer.png" alt="Retour à la page d'accueil" />
                </a>
                <div class="newsletter-section">
                    <h3 class="newsletter-section-title">Inscrivez-vous à la newsletter pour rester informé !</h3>
                    <form>
                        <input class="newsletter-input" type="email" placeholder="Entrez votre adresse mail" />
                        <button type="submit">
                            <img src="assets/icons/mail.png" alt="S'abonner à la newsletter">
                        </button>
                    </form>
                    <p class="disclaimer">*J'ai lu et compris les informations sur l'utilisation de mes données à
                        caractère personnel exposées dans la Politique de confidentialité et j'accepte de recevoir des
                        communications commerciales personnalisées de la part de EVENT CONNECT par courrier électronique
                        et d'autres moyens.
                    </p>
                </div>
            </div>
            <hr />
            <div class="social-icons">
                <a href="https://www.facebook.com" target="_blank">
                    <img src="assets/icons/facebook.png" alt="Accès à notre compte facebook" />
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="assets/icons/instagram.png" alt="Accès à notre compte instagram" />
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    <img src="assets/icons/twitter.png" alt="Accès à notre compte twitter" />
                </a>
                <a href="https://www.youtube.com" target="_blank">
                    <img src="assets/icons/youtube.png" alt="Accès à notre compte youtube" />
                </a>
                <a href="https://www.linkedin.com" target="_blank">
                    <img src="assets/icons/linkedin.png" alt="Accès à notre compte linkedin" />
                </a>
            </div>
            <div class="container-nav-footer">
                <p>© EventConnect 2026</p>
                <nav>
                    <ul class="nav-footer">
                        <li [class.disabled]="!legalEnabled">
                            <a [routerLink]="legalEnabled ? '/legal-information' : null">
                                Mentions légales
                                <span *ngIf="!legalEnabled" class="tooltip">Bientôt disponible</span>
                            </a>
                        </li>
                        <li [class.disabled]="!privacyEnabled">
                            <a [routerLink]="privacyEnabled ? '/privacy-policy' : null">
                                Politiques de confidentialité
                                <span *ngIf="!privacyEnabled" class="tooltip">Bientôt disponible</span>
                            </a>
                        </li>
                        <li [class.disabled]="!cgvEnabled">
                            <a [routerLink]="cgvEnabled ? '/general-conditions-of-sale' : null">
                                CGV
                                <span *ngIf="!cgvEnabled" class="tooltip">Bientôt disponible</span>
                            </a>
                        </li>
                        <li [class.disabled]="!contactEnabled">
                            <a [routerLink]="contactEnabled ? '/contact' : null">
                                Contact
                                <span *ngIf="!contactEnabled" class="tooltip">Bientôt disponible</span>
                            </a>
                        </li>
                        <li class="no-border" [class.disabled]="!savEnabled">
                            <a [routerLink]="savEnabled ? '/contact' : null">
                                Service après-vente
                                <span *ngIf="!savEnabled" class="tooltip">Bientôt disponible</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer-background">
        </div>
    </section>
</footer>