<footer>
    <section class="overlapping-section">
        <div class="container-footer">
            <div class="container-text">
                <a href="#">
                    <img class="logo-footer" src="assets/logo/logo-footer.png" alt="Retour à la page d'accueil" />
                </a>
                <div class="newsletter-section">
                    <h3>Inscrivez-vous à la newsletter pour rester informé !</h3>
                    <form>
                        <input class="newsletter-input" type="email" placeholder="Entrez votre adresse mail" />
                        <button type="submit">
                            <img src="assets/icons/mail.png" alt="S'abonner à la newsletter">
                        </button>
                    </form>
                    <p class="disclaimer">*J'ai lu et compris les informations sur l'utilisation de mes données à
                        caractère personnel exposées dans la Politique de confidentialité et j'accepte de recevoir des
                        communications commerciales personnalisées de la part de EVENT CONNECT par courrier électronique
                        et d'autres moyens.
                    </p>
                </div>
            </div>
            <hr />
            <div class="social-icons">
                <a href="https://www.facebook.com" target="_blank">
                    <img src="assets/icons/facebook.png" alt="Accès à notre compte facebook" />
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <img src="assets/icons/instagram.png" alt="Accès à notre compte instagram" />
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    <img src="assets/icons/twitter.png" alt="Accès à notre compte twitter" />
                </a>
                <a href="https://www.youtube.com" target="_blank">
                    <img src="assets/icons/youtube.png" alt="Accès à notre compte youtube" />
                </a>
                <a href="https://www.linkedin.com" target="_blank">
                    <img src="assets/icons/linkedin.png" alt="Accès à notre compte linkedin" />
                </a>
            </div>
            <div class="container-nav-footer">
                <p>© EventConnect 2026</p>
                <nav>
                    <ul class="nav-footer">
                        <li><a routerLink="/legal-information">Mentions légales</a></li>
                        <li><a routerLink="/privacy-policy">Politiques de confidentialité</a></li>
                        <li><a routerLink="/general-conditions-of-sale">CGV</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                        <li class="no-border"><a routerLink="/contact">Service après-vente</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer-background">
        </div>
    </section>
</footer>